header {
    background-color: #afabcb;
}
body {
    font-family: Raleway;
}
.topLogo {
    display: inline-block;
    width: 23%;
    padding: 1%;
}
nav {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 70%;
    padding: 1%;
}
.inlineBlock {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
h1 {
    text-align: center;
}
h2 {
    color: purple;
}
.caseStudies, .mySkills {
    padding: 15px;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
.researchImage img {
    width: 100%;
    height: auto;
}
.userResearch {
    width: 30%;
}
.contentStrategy {
    width: 30%;
}
.userInterface {
    width: 30%;
}
.wellRead {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    align-content: start;
    grid-template-areas: 
    "wellReadImage wellReadText";
}
.wellReadImage img {
    width: 100%;
    height: auto;
}
.wellReadImage {
    grid-area: wellReadImage;
    grid-column-start: 1;
}
.wellReadText {
    padding-left: 20px;
    grid-area: wellReadText;
    grid-column-start: 2;
}
.deptEd {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    grid-template-areas:
    "deptEdText deptEdImage";
}
.deptEdText {
    padding-right: 20px;
    grid-area: deptEdText;
    grid-column-start: 1;
}
.deptEdImage img {
    width: 100%;
    height: auto;
}
.deptEdImage {
    grid-area: deptEdImage;
    grid-column-start: 2;
}
.allProjectsCenter {
    margin-top: 8px;
    text-align: center;
}
footer {
        background-color: #afabcb;
}
.bottomLogo {
    display: inline-block;
    width: 23%;
    padding: 1%;
}
.footerNav {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 10px;
}
button {
    font-family: Raleway;
}
.caseStudiesButton {
    background-color: #71afbb;
    color: white;
    padding: 1%;
    font-size: 14px;
    border-radius: 8px;   
}
.allProjectsButton {
    background-color: #71afbb;
    color: white;
    padding: 1%;
    font-size: 14px;
    border-radius: 8px;
}
#returnTop {
    text-align: right;
    padding: 20px;
}
@media only screen and (max-width: 600px) { 
    .flexContainer {
        flex-direction: column;
    }
    .userResearch, .contentStrategy, .userInterface {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
        .wellRead {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            margin: auto;
            grid-template-areas: 
            "wellReadImage"
            "wellReadText";
        }
        .wellReadImage {
            grid-area: wellReadImage;
            grid-row-start: 1;
        }
        .wellReadText {
            grid-area: wellReadText;
            grid-row-end: 2;
        }
        .deptEd {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            margin: auto;
            grid-template-areas: 
            "deptEdImage"
            "deptEdText";
        }
        .deptEdImage {
            grid-area: deptEdImage;
            grid-row-start: 1;
        }
        .deptEdText {
            grid-area: deptEdText;
            grid-row-end: 2;
        }
}